* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  background-color: beige;
  padding: 2rem;
  font-size: 3rem;
}

.lista-kartica {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 3rem auto;
  gap: 3rem;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

.rating {
  background-color: chocolate;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  position: relative;
  top: 1rem;
  right: -1rem;
  border-radius: 50%;
}

.text-display {
  padding: 1rem;
}

.card.flip {
  background-color: beige;
  color: black;
}

button {
  position: relative;
  display: inline-block;
  background-color: brown;
  color: white;
  outline: none;
  border: none;
  padding: 5px;
  bottom: 1rem;
  height: 2rem;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 5px;
}

.stats {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
}

.stats p {
  background-color: blanchedalmond;
  padding: 1.5rem;
  border: 1px solid black;
}

form {
  margin: auto;
}

.input-forma {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

input[type="text"] {
  padding: 8px;
  height: 2.3rem;
  border: none;
  outline: none;
}

.btn-primary {
  bottom: 0;
  height: 2.3rem;
  font-size: 1.1rem;
  padding: 0 1rem;
}

.ocjena {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.form-control {
  display: grid;
  grid-template-columns: 1rem auto;
  gap: 0.5rem;
  font-weight: bold;
  line-height: 1.4;
}

input[type="radio"] {
  appearance: none;
  background-color: crimson;
  margin: 0;
  color: #fff;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  transform: translateY(2px);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  transform: scale(0);
  transition: 0.1s transform ease-in-out;
  box-shadow: inset 1rem 1rem #fff;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15rem) solid black;
  outline-offset: max(2px, 0.15rem);
}
